@import "../common/styles/variables";

.header {
  background: $bgSecondColor;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid $bgColorApp;


  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;


    @media screen and (max-width: 1129px) {
      align-items: center;
    }
    @media screen and (max-width: 900px) {
      justify-content: center;
    }

}


//@import "../common/styles/variables";
//
//.header {
//  background: $bgSecondColor;
//  padding-top: 15px;
//  padding-bottom: 15px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  border-bottom: 2px solid $bgColorApp;
//
//  position: fixed;
//  top: 0;
//  left: 0;
//  z-index: 20;
//  width: 100%;
//
//  .headerContainer {
//    width: 80%;
//    display: flex;
//    justify-content: flex-end;
//    align-items: center;
//    @media screen and (max-width: 1129px) {
//      align-items: center;
//    }
//    @media screen and (max-width: 900px) {
//      justify-content: center;
//    }
//  }
//}
//
