.header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid white;
    @media screen and (max-width: 1129px) {
        align-items: center;

    }
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}