@mixin projectSkillItem ( $display, $flex-direction,
$align-items, $text-align, $box-sizing, $border,
$padding, $background, $margin) {

  display: $display;
  flex-direction: $flex-direction;
  align-items: $align-items;
  text-align: $text-align;
  box-sizing: $box-sizing;
  border: $border;
  padding: $padding;
  background: $background;
  margin: $margin;
}