.aboutMeContainer {
  margin-bottom: 60px;
  margin-top: 30px;
  ul {
    padding-left: 0;
  }

  ul li {
    list-style: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 3px;
  }

  ul li strong {
    min-width: 100px;
    display: inline-block;
    position: relative;
    margin-right: 7px;
  }
}

strong:after {
  content: ":";
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}

@media screen and (max-width: 482px) {
  .aboutMeContainer {
    font-size: 12px;
  }

  .aboutMeContainer ul li strong {
    min-width: 70px;
  }

  .aboutMeContainer ul li {
    width: 100%;
    font-size: 12px;
  }
}

