.aboutMeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.aboutMeRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;


}

.aboutMeTitle::after {
    content: ":"
}

.aboutMeValue {

}