@import "../../common/styles/mixins";

.one_skill {
  width: 250px;
  @include projectSkillItem (flex,
          column,
          center,
          center,
          border,
          1px solid #2e344e,
          30px,
          #191d2b,
          1rem);
  .icon {
    height: 60px;
    width: 60px;
    //background-color: #35f606;
  }
  .skillTitle {
    position: relative;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: auto;
      bottom: -7px;
      height: 2px;
      width: 50px;
      background: #2e344e;
      transform: translateX(-50%);
    }

  }
  .description{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

//.skillTitle::after {
//  content: "";
//  position: absolute;
//  left: 0;
//  top: auto;
//  bottom: 0;
//  height: 2px;
//  width: 50px;
//  background: #2e344e;
//}


