.one_skill {
  width: 250px;

  border: 1px solid #2e344e;
  border-top: 5px solid #2e344e;
  padding: 30px;
  background: #191d2b;
  /*background: #343a40;*/
  /*background: #212529;*/

  margin: 1rem;
}

.one_skill h4 {
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
h4::after {
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #2e344e;
}

.icon {
  height: 60px;
  width: 60px;
  background-color: #35f606;
}
