@import "../../common/styles/mixins";
@import "../../common/styles/variables";

.one_skill {
  width: 250px;
  @include projectSkillItem(flex,
          column,
          center,
          center,
          border,
          1px solid $borderColor,
          30px,
          $bgColor,
          1rem);
  border-top: 5px solid $borderColor;


  .icons {
    height: 60px;
    width: 60px;
  }

  .icons:hover {
    display: block;
    transform: scale(1.05, 1.05);
    transition: 0.5s;

  }

  .icons:not(:hover) {
    transition: 0.5s;
  }

  .skillTitle {
    position: relative;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: auto;
      bottom: -7px;
      height: 2px;
      width: 50px;
      background: $borderColor;
      transform: translateX(-50%);
    }

  }

  .description {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

.one_skill:hover {
  border-top: 5px solid $auxiliaryColor;
  border-bottom: 1px solid $auxiliaryColor;
  transition: 0.5s;
}

.one_skill:not(:hover){
  transition: 0.5s;
}


