@import "../../common/styles/variables";
@import "../../common/styles/mixins";

.burgerNav {
  width: 100%;
  height: 100%;

  .burgerNavItems {
    //display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    transform: translate(0, -250px);
    transition: 0.7s;

    color: rgb(255, 255, 255);
    background-color: rgba(21, 17, 17, 0.95);
    font-size: 20px;
    position: absolute;
    height: 0;
    right: 5px;
    left: 5px;
    padding: 20px;
    //border-bottom: 2px solid $bgColorApp;

    a {
      border-bottom: 2px solid #151111;
      text-decoration: none;
      color: rgb(255, 255, 255);
      &:hover {
        border-bottom: 2px solid $auxiliaryColor;
        transition: 0.5s;
      }

      &:not(:hover) {
        transition: 0.5s;
      }
    }

    .active {
      //color: #037fff;
    }
  }

  .showNav {
    transform: translate(0, 0);
    height: 250px;
  }

  .burgerBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    background-color: $bgSecondColor;
    position: absolute;
    top: 14px;
    right: 20px;
    color: white;

    border: 2px solid $auxiliaryColor;

    .btnLines {
      width: 20px;
      height: 2px;
      background-color: $auxiliaryColor;
      //border-bottom: 1px dotted #037fff;
      &:after {
        transform: translateY(-8px);
      }

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 7px;
        left: 8px;
        z-index: 20;
      }
    }
  }
}

@media screen and (min-width: 501px) {
  .burgerNav {
    display: none;
    width: 100%;
  }
}
