.oneProject {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;

    border: 1px solid #2e344e;
    border-top: 5px solid #2e344e;
    /*border-bottom: 1px solid #2e344e;*/

    padding: 30px;
    background: #191d2b;
    margin: 1rem;
}

.oneProjectChange {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;

    border: 1px solid #2e344e;
    border-top: 5px solid #037fff;
    border-bottom: 1px solid #037fff;

    padding: 30px;
    background: #191d2b;
    margin: 1rem;
}


/* .oneProject :hover {
    border: 1px solid azure;
    transition: all .4s ease-out;
} */


.icon {
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
}

.icon:hover {
    height: 255px;
    width: 255px;
}

.watchWrapper {
    /*margin-top: 200px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/

}

.watch {
    /*height: 5px;*/
    width: 100px;
    color: black;
    /*border: 1px solid black;*/
    font-size: smaller;

}

.watch:hover {
    /*color: #037fff;*/
    font-weight: 700;
}

.oneProject h4 {
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

h4::after {
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: #2e344e;
}

.oneProjectChange h4 {
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

h4::after {
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: #2e344e;
}

.description {

}

@media screen and (max-width: 781px) {
    .oneProject {
        width: 100%;
    }

    .icon {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 300px) {

    .icon {
        max-width: 100px;
        max-height: 100px;
        display: block;
    }
}
