.oneProject {
    width: 300px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px;
    border: 1px solid aliceblue;
    padding: 20px;
    box-sizing: border-box;
    
}

/* .oneProjectContainer{
} */

.icon {
    height: 250px;
    width: 250px;
    background-color: #35f606;
}
.watch {
    height: 10px;
    width: 50px;
   
}

.description {

}

@media screen and (max-width: 781px) {
    .oneProject {
        width: 100%;
    }
    .icon {
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width: 300px) {
    
    .icon {
        max-width: 100px;
        max-height: 100px;
        display: block;
    }
}
