.navMin {
  border: 1px solid;
  width: 300px;
  display: flex;
  justify-content: end;
}
@media screen and (min-width: 1129px) {
  .navMin {
    display: none;
  }
}

.toggleButtonMenu {
  background-color: black;
  color: rgb(255, 255, 255);

}
.toggleButtonX {
  background-color: black;
  width: 50px;
  color: rgb(255, 255, 255);

}
