@import "./common/styles/variables";

.App {
  display: flex;
  flex-direction: column;
  background-color: $bgColorApp;
  color: rgb(164, 172, 196);

  //> div {
  //  &:nth-child(n) {
  //    background-color: $bgColorApp;
  //  }
  //
  //  &:nth-child(2n) {
  //    background-color: $bgSecondColor;
  //  }
  //}
}

h1, h2, h3, h4 {
  color: rgb(255, 255, 255);
}

